.container{
    width: 1250px;
    height: 1200px;
    margin: auto;
}

#Head{
    background-image: url(/img/back2.png);
    width: 90%;
    margin: auto;
    margin-top: -20px;
}

#Head_text{
    padding: 220px 250px;
    color: white;
    font-family: Arial,sans-serif;
    font-size: 150%;
    font-weight: normal;
    text-shadow: 0 0 15px #999;
    color: transparent;
    transition: all .5s;
}

#Py{
    margin-left: 250px;
    padding: 10px 10px;
    font-size: 80%;
}
#Py:hover{
    background-color: rgba(255, 0, 0, 0.3);
}

#Head_text:hover {
    text-shadow: 0 0 0px white;
    }

#FIO{
    text-align: justify;
    padding: 5px 5px;
}
#FIO:hover{
    background-color: rgba(255, 0, 0, 0.3);
}

nav{
    width: 1125px;
    height: 80px;
    margin: auto;
    position: absolute;
    background: #a76c78;
    margin-left: 62.5px;
}

ul.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 80px;
}

ul.nav li{
    float: left;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 30px 110px;
}

ul.nav li a{
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s ease;
}

ul.nav li:hover{
    background: #ff4260;
    box-shadow: 5px 7px 10px -5px black;
    transition: 0.3s ease;
}

main{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    font-family: Arial,sans-serif;
    font-size: 20px;
    color: #a76c78;
}

h1{
    font-weight: lighter;
}

#h3{
    color: #5c5c5c;
    font-size:17px;
}

/*-----------------TABLE-------------------*/
table{
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
    padding: 10px 10px;
    border-spacing: 0px;
    margin-left: 250px;
    width: 60%;
    color: white;
}

#one{
    width: 300px;
    vertical-align: text-top;
    padding: 10px 10px;
}

#two{
    padding: 10px 0px;
}

#one_1{
    width: 250px;
    vertical-align: text-top;
    padding: 10px 10px;
    background-color: #b8b8b8;
}

#two_1{
    width: 300px;
    vertical-align: text-top;
    padding: 10px 10px;
    background-color: #b8b8b8;
}

#one_2{
    width: 300px;
    vertical-align: text-top;
    padding: 10px 10px;
    background-color: #fda5a5;
}

#two_2{
    width: 300px;
    vertical-align: text-top;
    padding: 10px 10px;
    background-color: #fc7e7e;
}

#two_11{
    background-color: #858585;
    padding: 10px 10px;
}

/*-------FOOTER--------*/
footer{
    width: 1125px;
    height: 80px;
    margin: auto;
    background-color: #a76c78;
    margin-top: 20px;
}

ul.foot{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.foot li{
    font-size: 15px;
    float: left;
    margin-left: 255px;

}

ul.foot li#inst{
    margin-left: 200px;
    margin-top: 20px;
	padding: 10px 10px 10px 40px;
	list-style: none;
	background-image: url(/img/insta_gray.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px
}

ul.foot li#inst:hover{
    background-image: url(img/insta.png);
}

ul.foot li#fb{
    margin-left: 215px;
    margin-top: 20px;
	padding: 10px 10px 10px 40px;
	list-style: none;
	background-image: url(/img/fb_gray.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px
}

ul.foot li#fb:hover{
    background-image: url(img/fb.png);
}

ul.foot li#tube{
    margin-left: 210px;
    margin-top: 20px;
	padding: 10px 10px 10px 40px;
	list-style: none;
	background-image: url(/img/youtube_gray.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px
}

ul.foot li#tube:hover{
    background-image: url(img/youtube.png);
}

ul li a{
    text-decoration: none;
    color: white;
}
