.cont{
    width: 1250px;
    height: 1000px;
    margin: auto;
}

#Header{
    background-image: url(/img/back1.png);
    width: 90%;
    margin: auto;
    margin-top: -20px;

}

#H_text{
    padding: 220px 250px;
    color: white;
    font-family: Arial,sans-serif;
    font-size: 150%;
    font-weight: normal;
    text-shadow: 0 0 15px #999;
    color: transparent;
    transition: all .5s;
}

#Py{
    margin-left: 250px;
    padding: 10px 10px;
    font-size: 80%;
}
#Py:hover{
    background-color: rgba(255, 0, 0, 0.3);
}

#H_text:hover {
    text-shadow: 0 0 0px white;
    
    }

#FIO{
    text-align: justify;
    padding: 5px 5px;
}
#FIO:hover{
    background-color: rgba(255, 0, 0, 0.3);
}

nav{
    width: 1125px;
    height: 80px;
    margin: auto;
    position: absolute;
    background: #a76c78;
    margin-left: 62.5px;
}

ul.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 80px;
}

ul.nav li{
    float: left;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 30px 105.47px;
}

ul.nav li a{
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s ease;
}

ul.nav li:hover{
    background: #ff4260;
    box-shadow: 5px 7px 10px -5px black;
    transition: 0.3s ease;
}

main{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    font-family: Arial,sans-serif;
    font-size: 20px;
    color: #a76c78;
    height: 45%;
}

#P{
    font-size: 50px;
    font-weight: 10;
    
}

#S{
    font-size: 5px;
    margin-top: -30px;
    transition: ease;
}

#S:hover {
    transform: scale(6);
    filter: none;
    transition: 3s;
    color: #ff4260;
   }

img{
    width: 40%;
    border-radius: 50%;
}

.L_side{
    float: left;
    width: 25%;
    margin-top: 120px;
    margin-left: -185px;
    line-height: 120%;
}

#A{
    font-size: 25px;
    color: #a76c78;
    font-family: sans-serif;
    font-weight:lighter;
    text-align: left;
}

#text{
    font-family: sans-serif;
    text-align: justify;
    font-size: 15px;
    color: #5c5c5c;
    font-weight: lighter;
}

.R_side{
    float: right;
    margin-top: 202px;
    margin-right: 60px;
    width: 15%;
    line-height: 180%;
}

#A_r{
    font-size: 25px;
    color: #a76c78;
    font-family: sans-serif;
    font-weight:lighter;
    text-align: left;
}

#text_r{
    font-family: sans-serif;
    text-align: justify;
    font-size: 15px;
    color: #5c5c5c;
    font-weight: lighter;
}

#bold{
    font-weight: bold;
}

.about-footer {
position:absolute;
margin-left: 60px;
    margin-top: 20px;
  -webkit-background-size: cover;
  background-size: cover;
}

    
.about-title {
  font-family: sans-serif;
  font-size: 70px;
  text-align: center;
  position: relative;
  opacity: .5;
  color: white;
  padding-top: 500px;
}

ul.foot{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.foot li{
    font-size: 15px;
    float: left;
    margin-left: 255px;

}

ul.foot li#inst{
    margin-left: 250px;
    margin-top: -20px;
	padding: 10px 10px 10px 40px;
	list-style: none;
	background-image: url(/img/insta_gray.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px
}

ul.foot li#inst:hover{
    background-image: url(img/insta.png);
}

ul.foot li#fb{
    margin-left: 215px;
    margin-top: -20px;
	padding: 10px 10px 10px 40px;
	list-style: none;
	background-image: url(/img/fb_gray.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px
}

ul.foot li#fb:hover{
    background-image: url(img/fb.png);
}

ul.foot li#tube{
    margin-left: 215px;
    margin-top: -20px;
	padding: 10px 10px 10px 40px;
	list-style: none;
	background-image: url(/img/youtube_gray.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px
}

ul.foot li#tube:hover{
    background-image: url(img/youtube.png);
}

ul li a{
    text-decoration: none;
    color: white;
}
